@import "@ng-select/ng-select/themes/default.theme.css";

.ng-select.ng-select-single .ng-select-container {
    height: 45px;
    /* Match form-control height roughly */
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}